[global]
mon_host = {{ .Env.MONITORS }}
auth_cluster_required = {{ .Env.PROVIDER }}
auth_service_required = {{ .Env.PROVIDER }}
auth_client_required = {{ .Env.PROVIDER }}
auth_supported = {{ .Env.PROVIDER }}